<!DOCTYPE html>
<html>
  <form id="login-form">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username">
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password">
    <br>
    <button type="submit">Submit</button>
  </form>

  <script>
    function authenticate() {
      event.preventDefault();

      const form = document.getElementById('login-form');
      const username = form.elements.username.value;
      const password = form.elements.password.value;
      console.log("HIII")

      fetch('/authenticate', {
        method: 'PUT',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          "User": {
            "name": username,
            "isAdmin": false
          },
          "Secret": {
            "password": password
          }
        })
      })
      .then(response => response.json())
      .then(data => {
        // store the bearer token in localStorage
        localStorage.setItem('bearerToken', data.token);

        // redirect to profile page
        window.location.href = '/profile';
      })
      .catch(error => console.error(error));
    }

    const form = document.getElementById('login-form');
    form.addEventListener('submit', authenticate);
  </script>
</html>