<!DOCTYPE html>
<html>
<head>
  <title>Upload</title>
</head>
<body>
  <h1>Upload a File</h1>
  <% if (message) { %>
    <p><%= message %></p>
  <% } %>

  <form method="post" action="/upload" enctype="multipart/form-data">
    <label for="name">Package Name:</label>
    <input type="text" name="nickname" id="nickname" required>
    <br /><br />
    <input type="file" name="file" required/>
    <br/><br />
    <button type="submit">Upload</button>
  </form>
  <br/><br />
  <a href="/profile">Home</a>
</body>
</html>
