<!DOCTYPE html>
<html>
  <head>
    <title>Search Packages</title>
  </head>
  <body>
    <h1>Search Packages</h1>
    <form method="get" action="/search">
      <input type="text" name="query" placeholder="Search packages...">
      <input type="submit" value="Search">
    </form>
    <% if (results.length > 0) { %>
      <h2>Results:</h2>
      <ul>
        <% results.forEach(function(result) { %>
          <li><a href="<%= result.path %>"><%= result.name %></a></li>
        <% }) %>
      </ul>
    <% } else if (query) { %>
      <p>No results found for "<%= query %>".</p>
    <% } %>
  </body>
</html>
